In [1]:
cd  /Users/driscoll/Documents/GitHub/fnc/matlab
FNC_init

[**Demo %s**](#demo-pivoting-fix)

Here is the trouble-making matrix from {numref}`Demo {number} <demo-pivoting-fail>`.

In [2]:
A_1 = [2 0 4 3; -2 0 2 -13; 1 15 2 -4.5; -4 5 -7 -10]

A_1 = 4×4 double
    2.0000         0    4.0000    3.0000
   -2.0000         0    2.0000  -13.0000
    1.0000   15.0000    2.0000   -4.5000
   -4.0000    5.0000   -7.0000  -10.0000

```{index} ! MATLAB; max, ! MATLAB; \~
```

We now find the largest candidate pivot in the first column. We don't care about sign, so we take absolute values before finding the max.
```{tip}
:class: dropdown
The second output of `max` returns the location of the largest element of a vector. The `~` symbol is used to ignore the value of the first output.
```

In [3]:
[~, i] = max( abs(A_1(:, 1)) )

i = 4

This is the row of the matrix that we extract to put into $\mathbf{U}$. That guarantees that the division used to find $\boldsymbol{\ell}_1$ will be valid.

In [4]:
L = zeros(4, 4);
U = zeros(4, 4);
U(1, :) = A_1(i, :);
L(:, 1) = A_1(:, 1) / U(1, 1);
A_2 = A_1 - L(:, 1) * U(1, :)

A_2 = 4×4 double
         0    2.5000    0.5000   -2.0000
         0   -2.5000    5.5000   -8.0000
         0   16.2500    0.2500   -7.0000
         0         0         0         0

Observe that $\mathbf{A}_2$ has a new zero row and zero column, but the zero row is the fourth rather than the first. However, we forge on by using the largest possible pivot in column 2 for the next outer product.

In [5]:
[~, i] = max( abs(A_2(:, 2)) )
U(2, :) = A_2(i, :);
L(:, 2) = A_2(:, 2) / U(2, 2);
A_3 = A_2 - L(:, 2) * U(2, :)

i = 3

A_3 = 4×4 double
         0         0    0.4615   -0.9231
         0         0    5.5385   -9.0769
         0         0         0         0
         0         0         0         0

Now we have zeroed out the third row as well as the second column. We can finish out the procedure.

In [6]:
[~, i] = max( abs(A_3(:, 3)) ) 
U(3, :) = A_3(i, :);
L(:, 3) = A_3(:, 3) / U(3, 3);
A_4 = A_3 - L(:, 3) * U(3, :)

i = 2

A_4 = 4×4 double
         0         0         0   -0.1667
         0         0         0         0
         0         0         0         0
         0         0         0         0

In [7]:
[~, i] = max( abs(A_4(:, 4)) ) 
U(4, :) = A_4(i, :);
L(:, 4) = A_4(:, 4) / U(4, 4);

i = 1

We do have a factorization of the original matrix:

In [8]:
A_1 - L * U

ans = 4×4 double
     0     0     0     0
     0     0     0     0
     0     0     0     0
     0     0     0     0

And $\mathbf{U}$ has the required structure:

In [9]:
U

U = 4×4 double
   -4.0000    5.0000   -7.0000  -10.0000
         0   16.2500    0.2500   -7.0000
         0         0    5.5385   -9.0769
         0         0         0   -0.1667

However, the triangularity of $\mathbf{L}$ has been broken.

In [10]:
L

L = 4×4 double
   -0.5000    0.1538    0.0833    1.0000
    0.5000   -0.1538    1.0000         0
   -0.2500    1.0000         0         0
    1.0000         0         0         0