In [1]:
cd  /Users/driscoll/Documents/GitHub/fnc/matlab
FNC_init

[**Demo %s**](#demo-house-qr)


We will use Householder reflections to produce a QR factorization of a matrix.

In [2]:
A = magic(6);
A = A(:, 1:4);
[m, n] = size(A)

m = 6

n = 4

```{index} ! MATLAB; eye
```

Our first step is to introduce zeros below the diagonal in column 1 by using {eq}`hhvector` and {eq}`hhreflect`.

In [3]:
z = A(:, 1);
v = z - norm(z) * eye(m,1);
P_1 = eye(m) - 2 / (v' * v) * (v * v');

We check that this reflector introduces zeros as it should:

In [4]:
P_1 * z

ans = 6×1 double
   56.3471
    0.0000
   -0.0000
   -0.0000
   -0.0000
   -0.0000

Now we replace $\mathbf{A}$ by $\mathbf{P}_1\mathbf{A}$.

In [5]:
A = P_1 * A

A = 6×4 double
   56.3471   16.4693   30.0459   39.0969
   -0.0000   29.8260    3.6207   19.1594
   -0.0000  -13.4643  -32.9191    2.9808
   -0.0000   22.2028   23.9886   12.0918
   -0.0000  -16.7397    0.2073   -6.4056
   -0.0000   33.1014   24.4943   10.5459

We are set to put zeros into column 2. We must not use row 1 in any way, lest it destroy the zeros we just introduced. So we leave it out of the next reflector.

In [6]:
z = A(2:m, 2);
v = z - norm(z) * eye(m-1, 1);
P_2 = eye(m-1) - 2 / (v' * v) * (v * v');

We now apply this reflector to rows 2 and below only.

In [7]:
A(2:m, 2:n) = P_2 * A(2:m, 2:n)

A = 6×4 double
   56.3471   16.4693   30.0459   39.0969
   -0.0000   54.2196   34.8797   23.1669
   -0.0000    0.0000  -15.6653    5.1928
   -0.0000         0   -4.4630    8.4443
   -0.0000   -0.0000   21.6583   -3.6556
   -0.0000    0.0000  -17.9233    5.1079

We need to iterate the process for the last two columns.

In [8]:
for j = 3:n
    z = A(j:m,j);
    k = m-j+1;
    v = z - norm(z) * eye(k, 1);
    P = eye(k) - 2 / (v' * v) * (v * v');
    A(j:m, j:n) = P * A(j:m, j:n);
end

We have now reduced the original to an upper triangular matrix using four orthogonal Householder reflections:

In [9]:
R = A

R = 6×4 double
   56.3471   16.4693   30.0459   39.0969
   -0.0000   54.2196   34.8797   23.1669
   -0.0000    0.0000   32.4907   -8.9182
   -0.0000         0   -0.0000    7.6283
   -0.0000   -0.0000    0.0000    0.0000
   -0.0000    0.0000         0   -0.0000